.container {
  margin: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pageBtn {
  cursor: pointer;
  width: 7vh;
  height: 7vh;
  border: 0.3vh solid #707070;

  span {
    color: #404040;
    font-size: 4vh;
    font-weight: 600;
    font-family: Helvetica;
  }
}

.unselected {
  background: #ececec;
  &:hover {
    background: #cccccc;
  }
}

.selected {
  background: #c0c0c0;
  &:hover {
    background: #a0a0a0;
  }
}
