@import "../../index";

.navbar {
  display: flex;
  align-items: center;
  background-color: #8b8b84;
  padding: 0.5vh 1.5vh;
  border-bottom: 0.4vh solid #777777;
  span {
    color: #dddddd;

    @extend .unselectable;
  }
}

.title {
  font-size: 3vh;
  font-weight: 600;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.endpoint {
  @extend .choice;
  margin-right: 3vh;
}

.category {
  @extend .choice;
  margin-right: 5vh;
}

.choice {
  cursor: pointer;
  font-size: 2.75vh;
  @extend .unselectable;
}

.settingsCategory {
  @extend .category;
  text-align: end;
  margin-right: 1.5vh;
}

// categories
.selected {
  color: #cdab2d;
  &:hover {
    color: #c48e48;
  }
}

.unselected {
  &:hover {
    color: #cdab2d;
  }
}

// endpoints
.selected2 {
  color: #dddddd;
  &:hover {
    color: #eeeeee;
  }
}

.unselected2 {
  &:hover {
    color: #dddddd;
  }
}

.settingsUnselected {
  @extend .unselected;
  color: #525c65;
}

svg {
  margin-right: 0.75vh;
}
